<header>Bookmark Manager</header>

<ol>
  <% @all_bookmarks.each do |bookmark| %>
   <li><a href="<%= bookmark.url%>">
     <%= bookmark.title %></a></li>
  <%end%>
</ol>

<form action="/bookmarks/new">
  <input type="submit" value="Add bookmark">
</form>

<form action="/bookmarks/delete">
  <input type="submit" value="Delete bookmark">
</form>

<form action="/bookmarks/update">
  <input type="submit" value="Update bookmark">
</form>
